/*Fonts*/


@font-face {
  font-family: 'ApercuPro';
  src: url(../fonts/ApercuPro/'ApercuPro.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro';
  src:  url('ApercuPro.otf')  format('opentype'),
	    format('woff'), url('ApercuPro.ttf')  format('truetype'), url('ApercuPro.svg#ApercuPro') format('svg');
  font-weight: normal;
  font-style: normal;
}



#myMenu{

	background-color: #00ffcc;
	color: white;
	padding: 0%;
}

.myImg {

	display: block;
	background-color: #00ffcc;
}

#coverPicture {
	padding: 2%;

}